<mat-toolbar color="primary">
  <span>Angular Developer Test</span>
</mat-toolbar>

<div class="p-3 flex items-center">
  <span class="mr-3"
    >Widgets: <b>{{ widgetsCount }}</b></span
  >
  <span
    >Total Price: <b>{{ total_price | currency }}</b></span
  >
  <button mat-mini-fab class="ml-auto" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="flex flex-wrap justify-center">
  <div *ngFor="let widget of widgets" class="mx-3 mb-3">
    <app-widget
      [widget]="widget"
      (deleteHandler)="onDelete($event)"
    ></app-widget>
  </div>
</div>
